<!DOCTYPE html>
<html>
<head>
	<title>Backbone SPA Sample Application</title>
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/#/">Show</a></li>
				<li><a href="/#/chars/">Characters</a></li>
			</ul>
		</nav>
	</header>
	<section id="content"></section>
	<footer>
		<div class="footerDiv">Backbone SPA Application</div>
	</footer>

	<!-- Views -->

	<!-- Shows View -->
	<script type="text/template" id="shows-template">
		<h1>Adventure Time</h1>
		<p>
			<i>Adventure Time</i> (originally titled Adventure Time with Finn & Jake) is an American animated television series created by Pendleton Ward for Cartoon Network. The series follows the adventures of Finn, a human boy, and his best friend and adoptive brother Jake, a dog with magical powers to change shape and grow and shrink at will. Finn and Jake live in the post-apocalyptic Land of Ooo. Along the way, they interact with the other main characters of the show: Princess Bubblegum, The Ice King, and Marceline the Vampire Queen.
		</p>
		<p>
			All content for this app is taken from the <a href="http://en.wikipedia.org/wiki/Adventure_Time" target="_blank">Adventure Time Wikipedia page</a> and the <a href="http://adventuretime.wikia.com/wiki/Adventure_Time_with_Finn_and_Jake_Wiki" target="_blank">Adventure Time Wiki</a>.
		</p>
	</script>

	<script type="text/template" id="temp-template">
		<h1>Finn</h1>
		<h2>Human</h2>
		<h3>Hero</h3>
		<p class="description">Quick Description</p>
	</script>

	<!-- Character View -->
	<script type="text/template" id="character-template">
		<h1><%- name %></h1> <!-- Name -->
		<h2><%- species %></h2> <!-- Species -->
		<h3><%- occupation %></h3> <!-- Occupation -->
		<p class="description"><%- description %></p> <!-- Description -->
	</script>
	<!-- End Views -->

<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/underscore.min.js"></script>
<script type="text/javascript" src="lib/backbone.min.js"></script>

<script type="text/javascript" src="js/models/character.js"></script>
<script type="text/javascript" src="js/collections/characters.js"></script>
<script type="text/javascript" src="js/views/chars.js"></script>
<script type="text/javascript" src="js/views/show.js"></script>
<script type="text/javascript" src="js/routers/router.js"></script>

<script type="text/javascript" src="js/app.js"></script>
</body>
</html>